<ion-header>
    <ion-navbar>
        <ion-title>Propriedades</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-slides pager>
        <ion-slide *ngFor="let slide of slides">
           
            <img [src]="slide.srcImagem" class="slide-images" />
        </ion-slide>
  
    </ion-slides>

    <ion-card *ngIf="property.id">
        
        <ion-card-content>
            <h2 class="card-title">{{property.title}}</h2>
            <p>{{property.address}}, {{property.city}} {{property.state}}</p>
        </ion-card-content>
        <ion-list>

            <ion-item>
                <ion-icon item-left name="moon"></ion-icon>
                <h3>Quartos</h3>
                <ion-note item-right>{{property.bedrooms}}</ion-note>
            </ion-item>
            <ion-item>
                <ion-icon item-left name="leaf"></ion-icon>
                <h3>Banheiros</h3>
                <ion-note item-right>{{property.bathrooms}}</ion-note>
            </ion-item>
            <ion-item>
                <ion-icon item-left name="pricetag"></ion-icon>
                <h3>Preço</h3>
                <ion-note item-right>{{property.price}}</ion-note>
            </ion-item>
            <button ion-item (click)="openBrokerDetail(property.corretor)">
                <ion-avatar item-left>
                    <img src="{{property.corretor.picture}}"/>
                </ion-avatar>
                <h2>{{property.corretor.name}}</h2>
                <p>{{property.corretor.title}}</p>
            </button>
        </ion-list>

        <ion-item>
            <button ion-button icon-left (click)="favorite(property)" clear item-left>
                <ion-icon name="star"></ion-icon>
                Favoritos
            </button>
            <button ion-button icon-left (click)="share(property)" clear item-right>
                <ion-icon name="share"></ion-icon>
                Compartilhe
            </button>
        </ion-item>

    </ion-card>
</ion-content>